<ng-container *ngIf="!!users && chatForm">
  <h1>Chat page {{users?.entities?.length}}</h1>

<div class="chat-wrapper">
  <div class="users-chat-wrapper">
    <div *ngFor="let user of users?.entities" class="user-chat-wrapper">
      <div class="user-avatar-text-wrapper">
        {{user.firstName?.charAt(0) || ''}} {{user.lastName?.charAt(0) || ''}}
      </div>
      <div class="user-name-wrapper">{{user.login}}</div>
    </div>
  </div>
  <div class="chat-messages-wrapper">
    <div *ngFor="let message of messages" class="chat-message-wrapper">
      <div class="user-icon">
        {{message.avatar}}
      </div>
      <div class="chat-message-body-wrapper">
        <div class="chat-message-login-wrapper">
          {{message.from}}
        </div>
        <div class="chat-message-message-wrapper">
          {{message.message}}
        </div>
        <div class="chat-message-time-wrapper">{{message.time}}</div>
      </div>
    </div>
    <div class="chat-text-area-wrapper">
      <ciyw-input [controlGroup]="chatForm" placeholder="Message" controlName="message" type="textarea"></ciyw-input>
      <button mat-button color="primary" (click)="sendMessage()" [disabled]="chatForm?.invalid">Send Message</button>
    </div>
  </div>
</div>
</ng-container>
