<div class="base-modal-wrapper">
  <h2 mat-dialog-title>{{ invoice?.name ?? 'Invoice' }}</h2>
  <mat-dialog-content class="mat-typography t-align-center">
    <ng-container *ngIf="!isBusy else loader">
      <ciyw-input [controlGroup]="invoiceForm" placeholder="Name" controlName="name"></ciyw-input>
      <ciyw-input [controlGroup]="invoiceForm" placeholder="Amount" controlName="amount" type="number" ></ciyw-input>
      <ciyw-input [controlGroup]="invoiceForm" [selectData]="dictionaries?.currencies" placeholder="Currency" controlName="currencyId" type="select" ></ciyw-input>
      <ciyw-input [controlGroup]="invoiceForm" [selectData]="dictionaries?.categories" placeholder="Category" controlName="categoryId" type="select" ></ciyw-input>
      <ciyw-input [controlGroup]="invoiceForm" [selectData]="dictionaries?.invoiceTypes" placeholder="Type" controlName="type" type="select" ></ciyw-input>
      <ciyw-input [controlGroup]="invoiceForm" placeholder="Date" controlName="date" type="date" ></ciyw-input>


      <ciyw-input [controlGroup]="invoiceForm" placeholder="Note name" controlName="noteName"></ciyw-input>
      <ciyw-input [controlGroup]="invoiceForm" placeholder="Note body" controlName="noteBody" type="textarea"></ciyw-input>
    </ng-container>
    <ng-template #loader>
      <ciyw-loader></ciyw-loader>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
    <button mat-flat-button color="primary" (click)="createOrUpdateInvoice()" [disabled]="invoiceForm?.invalid">{{!!invoice ? 'Update' : 'Save'}}</button>
  </mat-dialog-actions>
</div>
