.auth-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 1200px;
  min-width: 350px;
  padding: 24px;
}

.auth-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
