<div [class]="wrapperClass" [ngClass]="{'d-block': !inline, 'd-inline': inline, 'mb-10': !!okHint}">
  <mat-form-field *ngIf="controlGroup" [formGroup]="controlGroup">

    <mat-label *ngIf="label || placeholder">{{label ?? placeholder}}</mat-label>

    <ng-container *ngIf="type !== 'select' && type !== 'date' && type !== 'textarea'">
      <input
        matInput
        [type]="type"
        [placeholder]="placeholder || ''"
        [formControlName]="controlName" />
    </ng-container>

    <ng-container *ngIf="type === 'select'">
      <mat-select
        [placeholder]="placeholder || ''"
        [formControlName]="controlName">
        <mat-option
          *ngFor="let item of selectData?.items"
          [value]="item.id" >{{ item.name }}</mat-option>
      </mat-select>
    </ng-container>

    <ng-container *ngIf="type === 'date'">
      <input matInput [matDatepicker]="picker" [formControlName]="controlName">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </ng-container>

    <ng-container *ngIf="type === 'textarea'">
      <textarea matInput [placeholder]="placeholder || ''" [formControlName]="controlName"></textarea>
    </ng-container>

    <mat-icon *ngIf="okHint?.isOk" matSuffix color="primary">verified</mat-icon>
    <mat-icon *ngIf="!!okHint && !okHint?.isOk" matSuffix color="accent">close</mat-icon>
    <mat-hint
      *ngIf="okHint"
      [ngClass]="{'success-message': okHint.isOk, 'error-message': !okHint.isOk}"
    >{{ okHint.isOk ? okHint.yes : okHint.no }}</mat-hint>


  </mat-form-field>
</div>
