<mat-toolbar color="primary">
  <span>CIYW</span>
  <span class="example-spacer"></span>
  <div class="flex-container t-align-center h-064 w-100" *ngIf="(isAuthorized$ | async) && !!user">

    <div class="menu-wrapper w-100">
      <div class="menu-item-wrapper" (click)="goto('home')">Home</div>
      <div class="menu-item-wrapper" (click)="goto('invoices')">Invoices</div>
      <div class="menu-item-wrapper" *ngIf="(isAdmin$ | async)" (click)="goto('admin/users')">Users</div>
      <div class="menu-item-wrapper" (click)="goto('chat')">Chat</div>
    </div>

    <div *ngIf="avatar" class="d-flex flex-item m-10">
      <img class="avatar" [src]="'data:image/png;base64,' + avatar" alt="Avatar">
    </div>
    <div class="flex-item m-10 f-075">
      <div class="h-020">{{user.login}}</div>
      <div class="flex-container" *ngIf="user.tariff">
        <div class="flex-item m-0 f-075">
          <div>{{user.tariff.name}}</div>
        </div>
        <div class="flex-item m-0 ml-10 f-075">{{ user.currency!.isoCode }}</div>
      </div>
    </div>
    <div class="flex-item pointer m-10 f-075" (click)="logout()">Logout</div>
  </div>
</mat-toolbar>
