<ng-container *ngIf="user">
  <h1>Invoice History</h1>

  <div class="user-details">
    <p><strong>User Name:</strong> {{ user.firstName }} {{user.lastName}}</p>
    <p><strong>Balance:</strong> {{ user.balanceAmount || 0 | currency: user.currency?.isoCode }}</p>
  </div>

  <ciyw-table
    [displayedColumns]="displayedColumns"
    [total]="balance?.totalCount ?? 0"
    [dataSource]="dataSource"
    [isBusy]="isBusy"
    (filterChanged)="filterChanged($event)"
  ></ciyw-table>


</ng-container>
