<footer class="mat-elevation-z2 h-060">
  <div class="footer-content">
    <p>&copy; {{ currentYear }} CIYW. Follow me.</p>
    <div class="social-media-icons">
      <a href="https://github.com/oleksandramarty" target="_blank" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/oleksandr-martynin/" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.npmjs.com/~amarty" target="_blank" title="npm">
        <i class="fab fa-npm"></i>
      </a>
    </div>
  </div>
</footer>
